@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: #3882f6;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    justify-content: stretch;
    margin: 0px;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    align-items: center; 
    justify-content: center; 
}

.upper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-self: center;
    padding: 8px;
    margin: auto 0;
    justify-items: stretch;
    flex-shrink: 1;
    max-width: 1000px; 
    width: 100%;
    margin-bottom: 45px;

}
.logo{
    font-weight: bolder;
    color: white;
    font-size: 24px;
}
.links{
    margin-left: auto;
    list-style-type: none; 
}
.linkss{
    color: white;
    font-size: 18px;
    list-style-type: none;
}
ul{
    display: flex;
    justify-items: space-between;
    justify-content: space-evenly;
}
ul li{
    list-style: none;
    margin-left: 14px;
    margin-right: 14px;
    
}
.starting{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    
    margin: auto 0;
    justify-items: stretch;
    flex-shrink: 1;
    max-width: 1000px; 
    width: 100%;
    color: white;
    padding-bottom: 75px;

}
.left{
    display: flex;
    flex-direction: column;
   
    max-width: 400px;
}
.bigtext{
    font-size: 48px;
    font-weight: 1000;
    padding: 5px;
}
#uppersignup{
    background-color: cornflowerblue;
    color: white;
    height: 40px;
    width: 150 px;
    font-size: 18px;
    border-radius: 5px;
    max-width: 150px;
    font-weight: 700;
    margin-top: 10px;
}
.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    border-radius: 5px;
    background-color: gray;
}
/* 2nd part of website starts */
/* of class name information */
.information{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 1000px;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
.information.textss{
    color: #1F2937;
    font-size: 36px;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 50px;
    font-weight: 1000;
}
.information.boxes{

    display: flex;
    flex-direction: row;
    justify-content:space-around;
    justify-items: center;
    align-items: center;

}
.outer{
    margin-left: auto ;
    margin-right: auto ;
    color: #1F2937;
}
.box{
    border: solid #3882f6 5px;
    border-radius: 15px;
    height: 150px;
    width : 80%;
    margin-bottom: 10px;
    
}

/* 3rd part of website starting */

